{
  "trailingComma": "es5",
  "plugins": [
    "prettier-plugin-classnames",
    "prettier-plugin-jsdoc",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-merge"
  ],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "endingPosition": "absolute-with-indent"
}
